a(name="specialisation")
section.specialisation

  .specialisation__items
  
    a(href="http://matematyka-wzory.pl").specialisation__items__website
    
      img.specialisation__items__website__img(src='../assets/img/matematyka-wzory.pl.png')
      
      .specialisation__items__website__cta See matematyka-wzory.pl 
      
    p.specialisation__items__lead ..I specialise in creating responsive landing pages and e&#8209;learning websites...
      
  
