a(name="portfolio")
section.portfolio
  .flex.flex--center
    .col-2
      p.home-lead ..and here is a sample of my work...
  
  br
  .flex.flex--center
    .col-2
      p.title A Strong Call To Action Landing Page
      p.descripiton This landing page provides immersive experience and is highly persuasive. It is just impossible to NOT register if once you entered the website.
      | <iframe height='600' scrolling='no' src='//codepen.io/MaciejCaputa/embed/EyVRzQ/?height=600&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/MaciejCaputa/pen/EyVRzQ/'>Strong Call To Action Landing Page</a> by Maciej Caputa (<a href='http://codepen.io/MaciejCaputa'>@MaciejCaputa</a>) on <a href='http://codepen.io'>CodePen</a>.</iframe>

  br
  br
  .flex.flex--center
    .col-2
      p.title Glacier Expedition Landing Page
      p.descripiton Totally professional responsive and modernly designed landing page for a company that specialise in providing adventure trips to glacier.
      | <iframe height='600' scrolling='no' src='//codepen.io/MaciejCaputa/embed/JKGRWo/?height=600&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/MaciejCaputa/pen/JKGRWo/'>Glacier Expedition</a> by Maciej Caputa (<a href='http://codepen.io/MaciejCaputa'>@MaciejCaputa</a>) on <a href='http://codepen.io'>CodePen</a>.</iframe>
  
  br
  br
  
  .flex.flex--center
    .col-2
      p.title Creative Box Menu
      p.descripiton You got bored with traditional menus? If yes, then check out how this creative way of presenting menu to your users works for you. Let your website get some of exceptionally good user experience.
      | <iframe height='400' scrolling='no' src='//codepen.io/MaciejCaputa/embed/mELKQJ/?height=400&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/MaciejCaputa/pen/mELKQJ/'>Creative Box Menu</a> by Maciej Caputa (<a href='http://codepen.io/MaciejCaputa'>@MaciejCaputa</a>) on <a href='http://codepen.io'>CodePen</a>.</iframe>
