a(name="services")
section.services
  .flex.flex--center
    .col-2
      p.home-lead ...services that I provide involve...

      .row
        .tile
          i.fa.fa-4x.fa-paint-brush
          h3 Beautiful Design
          p Every website is beautiful, unique and tailored to suit your needs and requirements.
        .tile
          i.fa.fa-4x.fa-code
          h3 Clean Code
          p All websites are written in valid and clean HTML5 / CSS3 & JavaScript (jQuery).
        .tile
          i.fa.fa-4x.fa-tablet
          h3 Always Responsive
          p All websites are responsive. They will look great on desktop, tablets and mobile phones too.
