a(name="about")
section.about
  a(href="../assets/MACIEJ_CAPUTA_CV.pdf", target="_blank").download-cv
    i.fa.fa-download
    span Download CV
  .face
  .flex.flex--center
    .col-2.push-right
      h2 Hi, I’m Maciej
      p.home-lead a passionate Web Developer and Designer who loves teaching maths and…
