a(name="specialisation")
section.specialisation
  .flex.flex--center
    .col-1
      p.home-lead.outdented ...I specialise in creating responsive landing pages and e&#8209;learning websites...
    
    .col-1.order-first
      a(href="http://matematyka-wzory.pl").matematyka-wzory.home-cta
      a(href="http://matematyka-wzory.pl").home-cta See matematyka&#8209;wzory.pl 
      

    
