a(name="skills")
section.skills
  .flex.flex--center
    .col-2
      p.home-lead ...skills I use when developing a project...
      .skill-panels
        .panel.php
          i.icon-php
          span.label PHP
        .panel.mysql
          i.icon-mysql
          span.label MySQL
        .panel.ruby
          i.icon-ruby
          span.label Ruby
        .panel.ruby-on-rails
          i.icon-ruby-on-rails
          span.label Ruby on
          span.label Rails
        .panel.java
          i.icon-java.pink
          span.label Java
        .panel.cplusplus
          i.icon-cplusplus
          span.label C++
        .panel.python          
          i.ion-social-python
          span.label Python
      .skill-panels
        .panel.html
          i.ion-social-html5-outline
          span.label HTML5
        .panel.css
          i.ion-social-css3-outline
          span.label CSS3
        .panel.js
          i.ion-social-javascript
          span.label JavaSript
        .panel.wordpress
          i.ion-social-wordpress
          span.label Wordpress
        .panel.sass
          i.ion-social-sass
          span.label SASS
        .panel.angular
          i.ion-social-angular-outline
          span.label AngularJS
        .panel.ionic
          i.ion-ionic
          span.label Ionic
