a(name="what-i-do")
section.what-i-do
  .flex.flex--center
  
    .col-1
      p.home-lead.outdented ...who shares his passions by developing and creating content for e-learning venture matematika.pl...
    
    .col-1
      a(href="http://matematika.pl").matematika.home-cta
      a(href="http://matematika.pl").home-cta See matematika.pl 
      
