
*
  box-sizing: border-box

body
  background: $grey-50
  font-family: 'Fira Sans', sans-serif
  color: $grey-50
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  padding-top: 4em


// --- Layout/Font Adjustements ---
html
  // Base Styles
  font-size: 11px

  // 20em (320px)
  @media (min-width : 20em)
    font-size: 12px

  // 30em (480px)
  @media (min-width : 30em)
    font-size: 13px

  // 37.5em (600px)
  @media (min-width: 37.5em)
    font-size: 13.75px

  // 48em (768px)
  @media (min-width : 48em)
    font-size: 14.8px

  // 62.25em (992px)
  @media (min-width : 62em)
    font-size: 16.2px

  // 68.75em (1100px)
  @media (min-width : 68.75em)
    font-size: 16.875px

  // 81.25em (1300px)
  @media (min-width : 81.25em)
    font-size: 18.125px
