doctype html
html(amp='', lang='en')
  head
    title maciejcaputa.com
    meta(charset='utf-8')
    link(rel='canonical', href='http://maciejcaputa.com')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    script(async='', custom-element='amp-iframe', src='https://cdn.ampproject.org/v0/amp-iframe-0.1.js')
    script(async='', custom-element='amp-form', src='https://cdn.ampproject.org/v0/amp-form-0.1.js')


    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "email": "mailto:maciej.caputa.pl@gmail.com",
        "image": "assets/images/thumbnail-face.png",
        "jobTitle": "Web Developer",
        "name": "Maciej Caputa",
        "alumniOf": "Cardiff University",
        "birthPlace": "Zywiec, Poland",
        "birthDate": "1995.06.19",
        "homeLocation": "Cardiff, UK",
        "gender": "male",
        "nationality": "Polish",
        "url": "http://maciejcaputa.com",
        "sameAs" : [
          "https://www.linkedin.com/in/MaciejCaputa/",
          "http://codepen.io/MaciejCaputa/"
        ]
      }

    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

    include assets/jadefiles/stylesheet.jade

  body
    include assets/jadefiles/header.jade
    include assets/jadefiles/section--about.jade
    include assets/jadefiles/section--what-i-do.jade
    include assets/jadefiles/section--specialisation.jade
    include assets/jadefiles/section--services.jade
    //- include assets/jadefiles/section--portfolio.jade
    include assets/jadefiles/section--skills.jade
    include assets/jadefiles/section--contact.jade
