.section
  &--portfolio
    background: $purple-800


    &__tiles
      display: flex
      flex-wrap: wrap
      justify-content: space-around

      &__tile

        display: flex
        flex-direction: column
        margin: 0.5em auto 1.5em auto
        flex-basis: 45%
        @media(max-width: 768px)
          flex-basis: 85%


        &__title
          font-size: 1.5em
          text-align: center

        &__description
          font-size: 16px
          text-align: justify
