a(name="what-i-do")
section.section.section--what-i-do.what-i-do

  .what-i-do__items
  
    p.what-i-do__items__lead ...who shares his passions by developing and creating content for e-learning venture matematika.pl...
      
    a(href="http://matematika.pl").what-i-do__items__website
    
      amp-img.what-i-do__items__website__img(src='../assets/images/matematika.pl.jpg', layout='fixed', width='280', height='200')
      
      .what-i-do__items__website__cta See matematika.pl 
        
