// --- Section What I Do ---

section.section.section--what-i-do

  .section--what-i-do__items

    p.section--what-i-do__items__lead I share my passions by developing and creating content for e-learning venture matematika.pl.

    a(href="http://matematika.pl").section--what-i-do__items__website

      amp-img.section--what-i-do__items__website__img(src='../assets/images/matematika.pl.jpg', layout='fixed', width='280', height='200')

      .section--what-i-do__items__website__cta See matematika.pl 
