// --- Section Skills ---

section.section.section--skills

  p.section__lead Here you can find skills I use when developing a project.

  .section--skills__panels
  
    .section--skills__panels__panel.section--skills__panels__panel--html
      i.ion-social-html5-outline
      span.label HTML5
      
    .section--skills__panels__panel.section--skills__panels__panel--css
      i.ion-social-css3-outline
      span.label CSS3
      
    .section--skills__panels__panel.section--skills__panels__panel--sass
      i.ion-social-sass
      span.label SASS

    .section--skills__panels__panel.section--skills__panels__panel--js
      i.ion-social-javascript
      span.label JavaSript
      
    .section--skills__panels__panel.section--skills__panels__panel--nodejs
      i.ion-social-nodejs
      span.label NodeJS
      
    .section--skills__panels__panel.section--skills__panels__panel--angular
      i.ion-social-angular-outline
      span.label AngularJS
      
    .section--skills__panels__panel.section--skills__panels__panel--ionic
      i.ion-ionic
      span.label Ionic

    .section--skills__panels__panel.section--skills__panels__panel--python
      i.ion-social-python
      span.label Python

    .section--skills__panels__panel.section--skills__panels__panel--markdown
      i.ion-social-markdown
      span.label Markdown
