// --- Section About ---

section.section.section--about

  h2.section--about__title Hi, I’m Maciej
  
  p.section--about__lead
    | a passionate Web Developer
    <br>
    | who loves teaching maths
    <br>
    | and demoing at CodePen.

  .section--about__face
