a(name="skills")
section.section--skills
  .section__items
    .section__items__item
      p.section__items__item__lead Here you can find skills I use when developing a project.
    
      .section__items__item__panels
      
        .section__items__item__panels__panel.section__items__item__panels__panel--html
          i.ion-social-html5-outline
          span.label HTML5
          
        .section__items__item__panels__panel.section__items__item__panels__panel--css
          i.ion-social-css3-outline
          span.label CSS3
          
        .section__items__item__panels__panel.section__items__item__panels__panel--sass
          i.ion-social-sass
          span.label SASS

        .section__items__item__panels__panel.section__items__item__panels__panel--js
          i.ion-social-javascript
          span.label JavaSript
          
        .section__items__item__panels__panel.section__items__item__panels__panel--nodejs
          i.ion-social-nodejs
          span.label NodeJS
          
        .section__items__item__panels__panel.section__items__item__panels__panel--angular
          i.ion-social-angular-outline
          span.label AngularJS
          
        .section__items__item__panels__panel.section__items__item__panels__panel--ionic
          i.ion-ionic
          span.label Ionic

        .section__items__item__panels__panel.section__items__item__panels__panel--python
          i.ion-social-python
          span.label Python

        .section__items__item__panels__panel.section__items__item__panels__panel--markdown
          i.ion-social-markdown
          span.label Markdown   
