// --- Section Services ---

section.section.section--services

  .section__items
  
    .section__items__item
    
      p.section__lead Below you can see example of services that I provide as well as my skills and portfolio

      .section--services__tiles
      
        .section--services__tiles__tile
          i.ion.ion-paintbrush
          h3 Landing Pages
          p Every website is beautiful, unique and tailored to suit your needs and requirements.
          
        .section--services__tiles__tile
          i.ion.ion-code
          h3 E-learning Systems
          p I am experienced with designing and implementing e-learning systems.

        .section--services__tiles__tile
          i.ion.ion-person
          h3 Admin Panels
          p Intuitive, responsive and modernly designed user interfaces that can be implemented as part of your web application.

        .section--services__tiles__tile
          i.ion.ion-iphone
          h3 Hybrid/Progressive Apps
          p Apps that I create are based on web technologies, therefore, it would be perfect way to make your web app available on mobile via dedicated app.
