section.section.section--specialisation.specialisation

  .specialisation__items

    a(href="http://matematyka-wzory.pl").specialisation__items__website

      amp-img.specialisation__items__website__img(src='../assets/images/matematyka-wzory.pl.jpg', layout='fixed', width='280', height='200')

      .specialisation__items__website__cta See matematyka-wzory.pl 

    p.specialisation__items__lead ..I specialise in creating responsive landing pages and e&#8209;learning websites...
