// --- Section Contact ---

section.section.section--contact

  .section__items
  
    .section__items__item
    
      p.section__lead Contact me via this form
      
      form.section--contact__form( action-xhr='https://formspree.io/maciej.caputa.pl@gmail.com', method='post', target='_blank')
      
        .section--contact__form__input
          span.label Name: 
          input(type='text', name='name')
          
        .section--contact__form__input
          span.label Email: 
          input(type='email', name='_replyto')
          
        .section--contact__form__input
            span.label Message:
            .textarea 
              textarea(name='message', cols='40', rows='5')
              
        input.section--contact__form__submit(type='submit', value='Send')


    .section__items__item

      p.section__lead or find me on...
      
      .section--contact__social-media
        a(href='http://codepen.io/MaciejCaputa/').section--contact__social-media__button
          i.ion-social-codepen-outline
          span CodePen
        a(href='https://github.com/MaciejCaputa').section--contact__social-media__button
          i.ion-social-github-outline
          span Github
        a(href='https://www.linkedin.com/in/maciejcaputa').section--contact__social-media__button
          i.ion-social-linkedin-outline
          span LinkedIn
