// --- Section Services ---

section.section.section--services

  .section__items
  
    .section__items__item
    
      p.section__lead Services that I provide.

      .section--services__tiles
      
        .section--services__tiles__tile
          i.ion.ion-paintbrush
          h3 Landing Pages
          p Every website is beautiful, unique and tailored to suit your needs and requirements.
          // Example: 

        .section--services__tiles__tile
          i.ion.ion-code
          h3 E-learning Systems
          p I am experienced with designing and implementing e-learning systems.
          // Example: 
          
        .section--services__tiles__tile
          i.ion.ion-person
          h3 Admin Panels
          p Apps that I create are based on web technologies, therefore, it would be perfect way to make your web app available on mobile via dedicated app.
          // Example: 
          
        .section--services__tiles__tile
          i.ion.ion-iphone
          h3 Hybrid Apps
          p Every website is beautiful, unique and tailored to suit your needs and requirements.
          // Example: 
