a(name="portfolio")
section.section.section--portfolio
    p.section__items__item__lead Here is a sample of my work.
    .section--portfolio__tiles

      .section--portfolio__tiles__tile
        p.section--portfolio__tiles__tile__title Stock Quotes
        p.section--portfolio__tiles__tile__description Main purpose of the Stock Quotes web app is to provide reliable both real-time and historic quotes of companies that composite indexes such as FTSE 100 for UK and NASDAQ 100 for USA.
        | <amp-iframe sandbox="allow-scripts allow-same-origin allow-popups" height='600' scrolling='no' title='Stock Quotes' src='https://codepen.io/MaciejCaputa/embed/QKgqAa/?height=600&theme-id=0&default-tab=result&embed-version=2' frameborder='0' allowtransparency allowfullscreen>See the Pen <a href='https://codepen.io/MaciejCaputa/pen/QKgqAa/'>Stock Quotes</a> by Maciej Caputa (<a href='https://codepen.io/MaciejCaputa'>@MaciejCaputa</a>) on <a href='https://codepen.io'>CodePen</a>.</amp-iframe>
      
      .section--portfolio__tiles__tile
        p.section--portfolio__tiles__tile__title A Strong Call To Action Landing Page
        p.section--portfolio__tiles__tile__description This landing page provides immersive experience and is highly persuasive. It is just impossible to NOT register if once you entered the website.
        | <amp-iframe sandbox="allow-scripts allow-same-origin allow-popups" height='600' scrolling='no' src='https://codepen.io/MaciejCaputa/embed/EyVRzQ/?height=600&theme-id=0&default-tab=result&embed-version=2' frameborder='0' allowtransparency allowfullscreen>See the Pen <a href='https://codepen.io/MaciejCaputa/pen/EyVRzQ/'>Strong Call To Action Landing Page</a> by Maciej Caputa (<a href='https://codepen.io/MaciejCaputa'>@MaciejCaputa</a>) on <a href='https://codepen.io'>CodePen</a>.</amp-iframe>

      .section--portfolio__tiles__tile
        p.section--portfolio__tiles__tile__title Glacier Expedition Landing Page
        p.section--portfolio__tiles__tile__description Totally professional responsive and modernly designed landing page for a company that specialise in providing adventure trips to glacier.
        | <amp-iframe sandbox="allow-scripts allow-same-origin allow-popups" height='600' scrolling='no' src='https://codepen.io/MaciejCaputa/embed/JKGRWo/?height=600&theme-id=0&default-tab=result&embed-version=2' frameborder='0' allowtransparency allowfullscreen>See the Pen <a href='https://codepen.io/MaciejCaputa/pen/JKGRWo/'>Glacier Expedition</a> by Maciej Caputa (<a href='https://codepen.io/MaciejCaputa'>@MaciejCaputa</a>) on <a href='https://codepen.io'>CodePen</a>.</amp-iframe>

      .section--portfolio__tiles__tile
        p.section--portfolio__tiles__tile__title Creative Box Menu
        p.section--portfolio__tiles__tile__description You got bored with traditional menus? If yes, then check out how this creative way of presenting menu to your users works for you. Let your website get some of exceptionally good user experience.
        | <amp-iframe sandbox="allow-scripts allow-same-origin allow-popups" height='600' scrolling='no' src='https://codepen.io/MaciejCaputa/embed/mELKQJ/?height=600&theme-id=0&default-tab=result&embed-version=2' frameborder='0' allowtransparency allowfullscreen>See the Pen <a href='https://codepen.io/MaciejCaputa/pen/mELKQJ/'>Creative Box Menu</a> by Maciej Caputa (<a href='https://codepen.io/MaciejCaputa'>@MaciejCaputa</a>) on <a href='https://codepen.io'>CodePen</a>.</amp-iframe>
