// -- Section About ---
a(name='about')
section.section.section--about

  h2.section--about__title Hi, I’m Maciej
  
  p.section--about__lead
    | a passionate Web Developer
    <br>
    | who loves teaching maths
    <br>
    | and spends his free time either on CodePen or GitHub

  .section--about__face
