section.section.section--about

  .section__bubble.section__bubble--right-in.section--about__bubble
    h2.section--about__title Hi, I’m Maciej Caputa
    p.section--about__lead
      span.section--about__lead__line--1 passionate and ambitous Software Engineer, 
      <br>
      span.section--about__lead__line--2 who inspires by sharing his life on instagram, 
      <br>
      span.section--about__lead__line--3 demos at CodePen, and pushes to GitHub.

  .section--about__profile
    img.section--about__profile__image(src='assets/images/profile.png')

  .section__panorama
    img.section__panorama__image(src='assets/images/intro-panorama.jpg')
