section.section.section--about
  
  .section--about__bubble.talk-bubble.tri-right.round.right-in
    .talktext
      h2.section--about__title Hi, I’m Maciej Caputa
      p.section--about__lead
        span.section--about__lead__line--1 passionate and ambitous Software Engineer, 
        <br>
        span.section--about__lead__line--2 who inspires by sharing his life on instagram, 
        <br>
        span.section--about__lead__line--3 demos at CodePen, and pushes to GitHub.

  .section--about__profile
    img.section--about__profile__image(src='../assets/images/profile.png')
