// --- Section What I Do ---

section.section.section--passion

  .section--passion__items

    p.section--passion__items__lead I share my passions for maths and programming by developing system and creating content for e-learning venture matematika.pl.

    a(href="http://matematika.pl").section--passion__items__website

      amp-img.section--passion__items__website__img(src='../assets/images/matematika.pl.jpg', layout='fixed', width='280', height='200')

      .section--passion__items__website__cta See matematika.pl 
