section.section.section--education

  .section__items.section--passion__items

    p.section__lead
      | currently I'm pursuing bachelor honours degree in
      <br>
      | computing and mathematics at Cardiff University.
        
    a(href="https://www.cardiff.ac.uk").section--education__items__website

      amp-img.section--education__items__website__img(src='http://ucanproductions.org/wp-content/uploads/universitylogo1.jpg', layout='fixed', width='250', height='250')

      .section--passion__items__website__cta See cardiff.ac.uk

  //- .section__panorama
  //-   img.section__panorama__image(src='../assets/images/education-panorama.jpg')
