section.section.section--social

  .section__items
    
    .section__items.section__items__item.section__items__item--left
      p.section__lead
        | be sure to check out my awesome projects at 
        <a href='https://codepen.io/MaciejCaputa/', target='_blank'>codepen</a>

      a(href="http://matematika.pl").section--passion__items__website

        amp-img.section--passion__items__website__img(src='../assets/images/matematika.pl.jpg', layout='fixed', width='280', height='200')

        .section--passion__items__website__cta See codepen.io/MaciejCaputa 


    .section__items.section__items__item.section__items__item--right
      p.section__lead
        | and my daily life as a software engineer on 
        <a href='https://www.instagram.com/maciej_caputa/', target='_blank'>instagram</a>.
      
      a(href="http://matematika.pl").section--passion__items__website

        amp-img.section--passion__items__website__img(src='../assets/images/matematika.pl.jpg', layout='fixed', width='280', height='200')

        .section--passion__items__website__cta See instagram.com/maciej_caputa
