// --- Header ---

header.header

  .header__inner
  
    h1.header__inner__logo Maciej Caputa - Software Engineer

    .header__inner__links
    
      a.header__inner__links__link(href='https://codepen.io/MaciejCaputa/', target='_blank').social-media-button
        i.ion.ion-social-codepen-outline
        span CodePen
        
      a.header__inner__links__link(href='https://www.instagram.com/maciej_caputa/', target='_blank').social-media-button
        i.ion.ion-social-instagram-outline
        span Instagram
      
      a.header__inner__links__link(href='https://github.com/MaciejCaputa', target='_blank').social-media-button
        i.ion.ion-social-github-outline
        span GitGub
        
      a.header__inner__links__link(href='https://www.linkedin.com/in/maciejcaputa', target='_blank').social-media-button
        i.ion.ion-social-linkedin-outline
        span LinkedIn
        
      a.header__inner__links__link(href='../assets/MACIEJ_CAPUTA_CV.pdf', target='_blank').download-cv
        i.ion.ion-document
        span CV
