// --- Section Specialisation ---

section.section.section--specialisation

  .section--specialisation__items

    a(href="http://matematyka-wzory.pl").section--specialisation__items__website

      amp-img.section--specialisation__items__website__img(src='../assets/images/matematyka-wzory.pl.jpg', layout='fixed', width='280', height='200')

      .section--specialisation__items__website__cta See matematyka-wzory.pl 

    p.section--specialisation__items__lead I specialise in creating responsive landing pages and user interfaces as well as learning websites.
